body {
    display: grid;
    grid-template-rows: auto auto auto;
}

header {
    grid-row: 1; 
    position: relative;
    overflow:hidden;
}

main.product {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    gap:10px;
    margin-top:80px;
}

#text-description{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* background-color: blue; */ /* para ver el área */
    text-align: left;
}

#image-description{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    /*  background-color: red; */ /* para ver el área */
}

#Footer{
    
    grid-row: 3;
}



/* Parte de estilos del header */

#header {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    /* lo fija */
    top: 0;
    /* se pega arriba */
    left: 0;
    /* se alinea con el borde izquierdo */
    z-index: 1000;
    background-color: white;
}

#imagen {
    flex: 0 0 25%;
    /* 25% fijo */
    display: flex;
    justify-content: flex-start;
    /* logo a la izquierda */

    /* border: 2px solid red; */

}

#cabecera {
    flex: 1;
    /* Ocupa espacio proporcional */
    /* border: 2px solid red; */
    max-width: 200px;
    height: auto;

    /* border: 2px solid red; */
}

#contenedorCabecera {
    flex: 0 0 50%;
    /* 50% fijo */
    display: flex;
    justify-content: center;
    /* centra el menú dentro */
    /* border: 2px solid blue; */
    opacity: 70%;
}

#contenedorIconos {
    flex: 0 0 25%;
    /* 25% fijo */
    display: flex;
    /* ahora sí usa flexbox */
    align-items: center;
    /* centra verticalmente */
    /* border: 2px solid green; */
}

#cab a {
    text-decoration: none;
    color: black;
    font-size: 80%;
    transition: background 0.3s;
}

#cab {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

li {
    list-style: none;
}

#iconoUser {
    width: 15%;
    height: auto;
}

#iconoInstagram {
    width: 15%;
    height: auto;
}

#cab a:hover {
    color: gray;
    /* padding: 5px 10px; */
    border-radius: 5px;
}

#cabIconos {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;


}

#cabIconos li {
    list-style: none;
}

#iconoUser,
#iconoInstagram {
    width: 30px;
    height: auto;
    left: 10%;
}