header {
    font-size: 2rem;
    font-weight: bold;
}


main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#text-description{
    padding: 1rem;
}

#image-description{
    padding: 1rem;
}

