/* Color base de los enlaces del menú */
.nav-link {
  color: gray !important;
  /* Le metes el !important para que pille prioridad el css porque el .nav-link es muy estricto*/
}

/* Color al pasar el ratón por encima */
.nav-link:hover {
  color: black !important;
  background-color: white;
  transition: 0.3s;
  /* animación suave */
}

#shopkart {
  height: 40px;
  width: auto;
}

/* esto le da un fondo al boton de "hamburguesa" */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}